!/Logs/
/Logs/*
!/DeploymentShare/
/DeploymentShare/*
Settings-*.json
Applications.json
/Applications/AdobeAcrobatDC/Configs*
/Applications/AdobeAcrobatDC/Source*
/Applications/FireFox/Configs*
/Applications/FireFox/Source*
/Applications/Customizations*
Tests.ps1
*.appxbundle
*.cab
*.mst
*.jpg
*.theme
*.xml
*.exe
*.msi
*.zip
*.vbs
thumbs.db
